
@font-face {
  font-family: "Nuffield Bold";      
  src: url('../fonts/nuffield-bold-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Poppins Semibold";      
  src: url('../fonts/poppins-semibold-normal-normal.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Poppins Regular";      
  src: url('../fonts/poppins-regular-normal-normal.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Nuffield Regular";      
  src: url('../fonts/nuffield-regular-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: nuffieldicons;      
  src: url('../fonts/nuffieldicons-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Poppins Italic";      
  src: url('../fonts/poppins-italic-normal-normal.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
